body {
    font-size: 22px;
    color: black
}

* {
    box-sizing: border-box;
    text-align: center;
}

nav {
    background-color: gray;
    width: 100%;
    position: fixed;
    clear: both;
    top: 0px;
    left: 0px;
}

.left {
    background-color: blue;
    float: left;
    height: 600px;
    width: 50%;
    padding: 290px;
    position: absolute;
    left: 0;
}

.middle {
    margin: 70px 0px 30px 0px;
}

.right {
    background-color: red;
    float: right;
    height: 600px;
    width: 25%;
    padding-top: 290px;
    position: absolute;
    right: 0;
}

footer {
    background-color: green;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    clear: both;
}